{% extends "base.jinja2" %}
{% block title %}View post - {% endblock %}
{% block head %}
    {{ super() }}

    <link rel="stylesheet" type="text/css" href="/static/redactor/css/style.css" />       

    <script type="text/javascript" src="/static/redactor/lib/jquery-1.7.min.js"></script> 

    <!-- Redactor is here -->
    <link rel="stylesheet" href="/static/redactor/redactor/redactor.css" />
    <script src="/static/redactor/redactor/redactor.js"></script>

    
    <script type="text/javascript">
    $(document).ready(
        function()
        {
            $('#redactor_content').redactor({
                imageUpload: '/connector',
                imageGetJson: '/images_json'
            });
        }
    );
    </script>   

    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Edit post</h1>
    <form action="{{ save_url }}" method="post">
        Title: <input type="text" name="title" value="{{ post.title }}"/>
        <br/>
        <br/>
        <textarea id="redactor_content" name="content" rows="10" cols="60">
            {{ post.content }}
        </textarea>
        <br/>
        <br/>
        Tags: <input type="text" name="tags" value="{{ post.tags }}"/>
        <br/><br/>
        Status: <input type="text" name="status" value="{{ post.status }}"/>
        <br/><br/>
        <input type="submit" name="form.submitted" value="Save" />
    </form>
{% endblock %}
